.navbar {
	background-color: blue;
	border-color: blue;
}

.navbar > div > .navbar-nav > li > a {
	background: none;
	color: light-blue;
	font-weight: bold;
}

.navbar > div > .navbar-nav > li > a:hover {
	background: none;
	color: yellow;
	font-weight: bold;
}

.navbar > a {
	background: none;
	color: light-blue;
	font-weight: bold;
}

.navbar > a:hover {
	background: none;
	color: yellow;
	font-weight: bold;
}

.navbar-nav > .open > a {
	background: none !important;
	color: black;
}

.navbar-nav > .open > a:focus {
	color: white;
}

textarea {
	width: 100%;
}

.error-group {
	color: red;
} 

.pagination {
	margin-top: 20px;
	margin-bottom: 40px;
}

.homepage-status {
	text-align: center;
	margin-top: 30px;
	font-size: larger;
}

.status-row {
	margin-top: 4em;
	margin-bottom: 4em;
}

.edit-links {
	margin-top: 10px;
}

/* Registration Page */

.register-prompt {
	font-size: 1.3em;
	text-align: center;
	padding: 10px;
}

.login-form {
	width: 100%;
}

.login-form > div {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login-form > div > button {
	background-color: blue;
	color: white;
	font-weight: bold;
	border-color: darkblue;
}

.login-error {
	margin-top: 10px;
	margin-bottom: 10 px;
	color: red;
	font-weight: bold;
}

.message {
	font-sze: larger;
	margin-top: 50px;
}

.profile-about {
	width: 100%;
	border: 1px solid gray;
	padding: 50px;
	overflow: auto;
}

.profile-image {
	padding: 10px;
	width: 20%;
	height: 20%;
	float: left;
}

.profile-text {
	font-size: larger;
}

.profile-about-edit {
	position: absolute;
	bottom: 10px;
	right: 50px;
}

#profile-photo-text {
	position: absolute;
	top: 5px;
	left: 50px;
	font-weight: bold;
	color: green;
}

#photoUploadForm {
	display: none;
}

ul#interestList {
	border: 1px solid gray;
}

ul.tagit > li.tagit-choice {
	background-color: blue;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888888;
}

ul#interestList a.tagit-close >span.text-icon {
	display: inline;
	color: yellow;
	padding: 6px;
	font-size: 1 em;
}

ul#interestList a.tagit-close:hover >span.text-icon {
	color: red;	
}

body > div.ui-helper-hidden-accessible {
	display: none;
}

#search-button {
	height: 39px;
	text-align: center;
	padding: 0 15px 0 15px;
	background-color: blue;
}

#search-button:hover {
	color: gray;
}

/* List of results */

.results-photo {
	display: inline-block;	
}

.results-detail {
	display: inline-block;
	margin-left: 10px;
}

.results-name {
	font-size: 1.5em;
	font-weight: bold;
}

.results-interests {
	font-size: 1.3em;
}

.person-row {
	border: 1px solid blue;
	border-radius: 5px;
	margin-bottom: 10px;
}

#chat-send-btn {
	height: 39px;
	text-align: center;
	padding: 0 15px 0 15px;
	background-color: blue;
}

#chat-send-btn:hover {
	color: gray;
}

.profile-name {
	font-size: 2em;
	text-align: center;
	font-weight: 500;
	padding: 0.5em;
}

#message-icon {
	height: 20px;
    width: 20px;
}

.results-contact {
	height: 10%;
	width: 10%;
}